{% load static %}

<div class="col-md-6 col-lg-4" style="border-bottom-color: rgb(0,0,0);">
    <div style="margin-bottom: 2.5rem;">
        <div style="background: #f5f5f5;margin-bottom: 3rem;">
            <p style="color: rgb(0,0,0);text-align: center;background: #e2e2e4;">ABOUT ME<br></p>
        </div><!-- Start: Gravatar Image --><img class="rounded-circle"
            src="{% static 'home/img/profliepic.png' %}" style="width: 100%;">
        <!-- End: Gravatar Image -->
        <h6 class="text-center" style="border-bottom-width: 1px;"><strong>Writer &amp;
                Reader</strong><br></h6>
    </div>
    <div style="margin-bottom: 2.5rem;">
        <div style="background: #e2e3e7;margin-bottom: 1.5rem;">
            <p style="color: rgb(0,0,0);text-align: center;">RECOMMENTS POSTS<br></p>
        </div>
    </div>
    <div style="margin-bottom: 1.5rem;">
        {% for item in element%}
            <hr />
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-5"><a href="{% url 'detail_content' item.categories.categorie_child.slug item.categories.slug_child item.slug %}"><img
                            src="{{ item.image.url }}" /></a>
                </div>
                <div class="col-sm-6 col-md-7 col-lg-7">
                    <a href="{% url 'detail_content' item.categories.categorie_child.slug item.categories.slug_child item.slug %}">
                        <h5>{{ item.title }}</h5>
                    </a>
                    <p><strong>{{ item.datetime }}</strong><br /></p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div style="margin-bottom: 2.5rem;">
        <div style="background: #e2e3e7;margin-bottom: 1.5rem;">
            <p style="color: rgb(0,0,0);text-align: center;">NEWSLETTER<br></p>
        </div>
        <p class="text-center">Subscribe my Newsletter for new blog posts. Stay updated from your
            inbox!<br></p><!-- Start: Form-1 -->
        <div class="col-md-6" style="width: 100%;">
            <form action="{% url 'send_mail' %}" method="post">
                {% csrf_token %}
                <input class="border rounded-0 form-control" name="email"
                    type="email" placeholder="Email" style="margin-bottom: 1rem;" />
                <input class="border rounded-0 form-control" name="subject"
                    type="text" placeholder="Subject" style="margin-bottom: 1rem;" />
                <textarea style="margin-bottom: 1rem;" class="border rounded-0 form-control" name="content" cols="20" rows="10" placeholder="Content"></textarea>
                <input
                    class="zzz border rounded-0 form-control" type="submit" value="SEND NOW" />
            </form>
        </div><!-- End: Form-1 -->
    </div>
    <div style="margin-bottom: 2.5rem;">
        <div style="background: #e2e3e7;margin-bottom: 1.5rem;">
            <p style="color: rgb(0,0,0);text-align: center;">INSTAGRAM CORNER<br></p>
        </div><!-- Start: Responsive Image Grid Sunday -->
        <div>
            <!--Photo Grid-->
            <!-- Start: Photo Grid -->
            <div class="rig-row">
                <!-- Start: Column image 1 -->
                <div class="rig-column"><img
                        src="https://www.w3schools.com/w3images/underwater.jpg"><img
                        src="https://www.w3schools.com/w3images/paris.jpg"><img
                        src="https://www.w3schools.com/w3images/wedding.jpg"><img
                        src="https://www.w3schools.com/w3images/wedding.jpg"></div>
                <!-- End: Column image 1 -->
                <!-- Start: Column image 2 -->
                <div class="rig-column"><img src="https://www.w3schools.com/w3images/wedding.jpg"><img
                        src="https://www.w3schools.com/w3images/underwater.jpg"><img
                        src="https://www.w3schools.com/w3images/nature.jpg"><img
                        src="https://www.w3schools.com/w3images/paris.jpg"></div>
                <!-- End: Column image 2 -->
                <!-- Start: Column image 3 -->
                <div class="rig-column r3"><img src="https://www.w3schools.com/w3images/paris.jpg"><img
                        src="https://www.w3schools.com/w3images/underwater.jpg"><img
                        src="https://www.w3schools.com/w3images/wedding.jpg"><img
                        src="https://www.w3schools.com/w3images/wedding.jpg"></div>
                <!-- End: Column image 3 -->
            </div><!-- End: Photo Grid -->
        </div><!-- End: Responsive Image Grid Sunday -->
    </div>
    <div>
        <div style="background: #e2e3e7;margin-bottom: 1.5rem;">
            <p style="color: rgb(0,0,0);text-align: center;">CATEGORIES<br></p>
        </div><!-- Start: List-group show-hide div content on-click -->
        <div class="row">
            <div class="col-lg-12">
                <div class="list-group" style="border-radius: 0px;border-top-left-radius: 0px;">
                    {% for CATEGORIES in page_obj1 %}
                        <a class="list-group-item list-group-item-action" href="{% url 'ContentSamecate' CATEGORIES.slug %}" data-bs-toggle="list">{{CATEGORIES.name}}</a>
                    {% endfor %}
                </div>
                <br>
                <div style="display:inherit;text-align:center" class="pagination">
                    <span class="step-links">
                        {% if page_obj1.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj1.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ page_obj1.number }} of {{ page_obj1.paginator.num_pages }}.
                        </span>
                
                        {% if page_obj1.has_next %}
                            <a href="?page={{ page_obj1.next_page_number }}">next</a>
                            <a href="?page={{ page_obj1.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div><!-- End: List-group show-hide div content on-click -->
    </div>
</div>